//! **************************************************************************
// Written by: Map K.31 on Wed Mar 13 11:29:31 2019
//! **************************************************************************

SCHEMATIC START;
COMP "PIO<87>" LOCATE = SITE "D12" LEVEL 1;
COMP "PIO<79>" LOCATE = SITE "B7" LEVEL 1;
COMP "an<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "an<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "an<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "led<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "G12" LEVEL 1;
PIN btn<0>_pin<0> = BEL "btn<0>" PINNAME PAD;
PIN "btn<0>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "an<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "dp" LOCATE = SITE "N13" LEVEL 1;
COMP "EppWr" LOCATE = SITE "C2" LEVEL 1;
COMP "led<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "C11" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "M4" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "A7" LEVEL 1;
COMP "VSync" LOCATE = SITE "K13" LEVEL 1;
COMP "led<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "EppDstb" LOCATE = SITE "F1" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "led<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "led<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "PS2C" LOCATE = SITE "B1" LEVEL 1;
COMP "PS2D" LOCATE = SITE "C3" LEVEL 1;
COMP "uclk" LOCATE = SITE "M6" LEVEL 1;
PIN uclk_pin<0> = BEL "uclk" PINNAME PAD;
PIN "uclk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "seg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "OutBlue<1>" LOCATE = SITE "H13" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "OutBlue<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "M12" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "mclk" LOCATE = SITE "B8" LEVEL 1;
PIN mclk_pin<0> = BEL "mclk" PINNAME PAD;
PIN "mclk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "EppDB<0>" LOCATE = SITE "N2" LEVEL 1;
COMP "OutRed<0>" LOCATE = SITE "C14" LEVEL 1;
COMP "EppDB<1>" LOCATE = SITE "M2" LEVEL 1;
COMP "PIO<80>" LOCATE = SITE "A9" LEVEL 1;
COMP "PIO<72>" LOCATE = SITE "B2" LEVEL 1;
COMP "OutRed<1>" LOCATE = SITE "D13" LEVEL 1;
COMP "EppDB<2>" LOCATE = SITE "M1" LEVEL 1;
COMP "PIO<81>" LOCATE = SITE "B9" LEVEL 1;
COMP "PIO<73>" LOCATE = SITE "A3" LEVEL 1;
COMP "OutRed<2>" LOCATE = SITE "F13" LEVEL 1;
COMP "EppDB<3>" LOCATE = SITE "L1" LEVEL 1;
COMP "PIO<82>" LOCATE = SITE "A10" LEVEL 1;
COMP "PIO<74>" LOCATE = SITE "J3" LEVEL 1;
COMP "EppWait" LOCATE = SITE "D2" LEVEL 1;
COMP "EppDB<4>" LOCATE = SITE "L2" LEVEL 1;
COMP "EppAstb" LOCATE = SITE "F2" LEVEL 1;
COMP "PIO<83>" LOCATE = SITE "C9" LEVEL 1;
COMP "PIO<75>" LOCATE = SITE "B5" LEVEL 1;
COMP "HSync" LOCATE = SITE "J14" LEVEL 1;
COMP "EppDB<5>" LOCATE = SITE "H2" LEVEL 1;
COMP "PIO<84>" LOCATE = SITE "C12" LEVEL 1;
COMP "PIO<76>" LOCATE = SITE "C6" LEVEL 1;
COMP "OutGreen<0>" LOCATE = SITE "F14" LEVEL 1;
COMP "EppDB<6>" LOCATE = SITE "H1" LEVEL 1;
COMP "PIO<85>" LOCATE = SITE "A13" LEVEL 1;
COMP "PIO<77>" LOCATE = SITE "B6" LEVEL 1;
COMP "OutGreen<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "EppDB<7>" LOCATE = SITE "H3" LEVEL 1;
COMP "PIO<86>" LOCATE = SITE "C13" LEVEL 1;
COMP "PIO<78>" LOCATE = SITE "C5" LEVEL 1;
COMP "OutGreen<2>" LOCATE = SITE "G14" LEVEL 1;
NET "uclk_IBUFG" BEL "ckMuxInst/BUFGMUX_inst.GCLKMUX" USELOCALCONNECT;
NET "mclk_IBUFG" BEL "ckMuxInst/BUFGMUX_inst.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

