//! **************************************************************************
// Written by: Map K.31 on Wed Feb 06 12:58:34 2019
//! **************************************************************************

SCHEMATIC START;
COMP "sw<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "ld<1>" LOCATE = SITE "M11" LEVEL 1;
SCHEMATIC END;

